$main-color: #C70039;
$main-color-dark: #900C3F;
$main-color-dark-disabled: #511845;

$text-color-normal: #000000de;
$text-color-light: #CFCFCF;

$background-dark: #222222;
$background-dark-hover: #3d3d3d;

$background-light: #ffffff;
$background-light-hover: #f4f4f4;

$border-light: #D1D5DA;
$border-dark: #535557;

$header-light: #F6F8FA;
$header-dark: #303030;
$header-hover-light: #e1e3e5;
$header-hover-dark: #202020;

$input-light: #e4e4e4;
$input-dark: #505050;

$input-disabled-light: #b1b1b1;
$input-disabled-dark: #828282;
$input-disabled-text-light: #676767;
$input-disabled-text-dark: #353535;

$padding-input: 3px;

$cell-height: 20px;

$themes: (
        default:(
                background:$background-light
        ),
        dark:(
                background:$background-dark
        )
);

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}


body {
  font-family: sans-serif;
  background: $background-light;
  color: $text-color-normal;
  @include dark-mode {
    background: $background-dark;
    color: $text-color-light;
  }
}

.content {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
  grid-template-areas: " block-1 block-2 ";

  @include mobile {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% 40%;
    grid-template-areas: " block-2 " " block-1 ";
  }
}

#parameters {
  grid-area: block-1;
  overflow: scroll;
  height: 100%;
}

#socialNetwork {
  float: left;
  grid-area: block-2;
}

#root, body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

.sidebar {
  float: left;
}

.content {
  height: 100%;
}

.button-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.button-wide {
  background: $main-color;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border-style: none;
  box-sizing: border-box;
  width: 100%;

  &:hover {
    background: $main-color-dark;
  }
}

.group-container {
  background: $background-light;
  border: 1px solid $border-light;
  @include dark-mode {
    background: $background-dark;
    border-color: $border-dark;
  }
  border-radius: 3px;
  margin-bottom: 3px;

  .group-title {
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    padding-left: $padding-input*2;
    background: $header-light;
    border-bottom: 1px solid $border-light;
    @include dark-mode {
      background: $header-dark;
      border-bottom: 1px solid $border-dark;
    }
    cursor: pointer;

    &:hover {
      background: $header-hover-light;
      @include dark-mode {
        background: $header-hover-dark;
      }
    }
  }

  .rows {
    display: grid;
    grid-template-rows: auto;
    padding: 8px 0 8px 0;
    user-select: none;
  }
}

.paramContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 5px 0;

  &:hover {
    background: $background-light-hover;
    @include dark-mode {
      background: $background-dark-hover;
    }
  }

  .dd-wrapper {
    width: auto;
  }

  .dd-wrapper > .dd-list {
    position: absolute;
    width: 160px;
  }

  .dd-header {
    background: $input-light;
    color: $text-color-normal;
    @include dark-mode {
      background: $input-dark;
      color: $text-color-light;
    }
    border-radius: 3px;
    padding: $padding-input 2*$padding-input;
    text-transform: capitalize;
    cursor: pointer;

    svg {
      float: right;
    }

    .dd-header-title {
      width: auto;
      display: inline;
    }
  }

  .input {
    background: $input-light;
    @include dark-mode {
      background: $input-dark;
      color: $text-color-light;
    }
  }

  .dd-list {
    padding: 0;
    margin: 0;
    background: $header-light;
    border: 1px solid $border-light;
    @include dark-mode {
      background: $header-dark;
      color: $text-color-light;
      border-color: $border-dark;
    }
    z-index: 20;


    li {
      display: block;
      text-transform: capitalize;
      padding: $padding-input $padding-input $padding-input 2*$padding-input;
      cursor: pointer;

      &:hover {
        background: $header-hover-light;
        @include dark-mode {
          background: $header-hover-dark;
          color: $text-color-light;
        }
      }
    }

    .selected {
      background: $main-color;
      color: $text-color-light;
      border-left: 3px solid $main-color-dark;
      padding-left: 3px;

      &:hover {
        background: $main-color-dark;
        @include dark-mode {
          background: $main-color-dark;
          color: $text-color-light;
        }
      }
    }
  }

  &.disabled {
    .dd-header {
      background: $input-disabled-light;
      color: $input-disabled-text-light;
      @include dark-mode {
        background: $input-disabled-dark;
        color: $input-disabled-text-dark;
      }
    }

    .nameContainer {
      color: $input-disabled-text-light;
      @include dark-mode {
        color: $input-disabled-text-light;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.bio-container {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background: $background-light;
  border: 1px solid $border-light;
  -webkit-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.51);
  @include dark-mode {
    background: $background-dark;
    border-color: $border-dark;
  }
  @include mobile {
    width: 100vw;
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    z-index: 555;
    height: 60%;
    overflow: scroll;
  }
  width: 400px;
  margin: 10px;
  height: auto;

  .close-button {
    position: absolute;
    right: 0;
    top: 0;
    background: $main-color;
    padding: 10px;
    margin: 10px;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;

    &:hover {
      background: $main-color-dark;
    }
  }

  h2 {
    text-align: center;
  }

  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.horizontal-slider {
  height: $cell-height;
  border-radius: 3px;
  line-height: $cell-height;
  text-align: center;

  &.disabled {
    .slider-track {
      background: $input-disabled-light;
      @include dark-mode {
        background: $input-disabled-dark;
      }
    }

    .slider-thumb {
      background: $input-disabled-dark;
      color: $input-disabled-text-dark;
      @include dark-mode {
        color: $input-disabled-text-light;
        background: $input-disabled-light;
      }
    }
  }

  &.multi {
    .slider-track-1 {
      background: $main-color-dark;
      border-radius: 5px;
    }
  }

  &.single.disabled {
    .slider-track-0 {
      background: $input-disabled-text-light;
      @include dark-mode {
        background: $input-dark;
      }
    }
  }


  &.single {
    .slider-track-0 {
      background: $main-color-dark;
      border-radius: 5px;
    }
  }

  &.multi.disabled {
    .slider-track-1 {
      background: $input-disabled-text-light;
      @include dark-mode {
        background: $input-dark;
      }
    }
  }
}

.slider-track {
  background: $input-light;
  @include dark-mode {
    background: $input-dark;
  }
  height: 100%;
  border-radius: 3px;
}

.row {
  padding: 4px;

  &.columns-2 {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
  }

  .capitalize {
    text-transform: capitalize;
  }

  &.dense {
    padding: 2px 4px
  }

  .cell {
    &.bold {
      font-weight: 600;
      text-transform: capitalize;
    }

    &.major {
    }

    .link {
      color: $main-color;
      font-weight: bold;
      cursor: pointer;
    }
  }
}


.slider-thumb {
  background: $main-color;
  color: $text-color-normal;
  box-sizing: border-box;
  font-weight: 600;
  height: 100%;
  width: 32px;
  border-radius: 5px;
}