$main-color: #e29c4b;
$main-color-dark: #9c6c34;

$text-color-normal: #000000de;
$text-color-light: #CFCFCF;

$background-dark: #222222;
$background-dark-hover: #3d3d3d;

$background-light: #ffffff;
$background-light-hover: #f4f4f4;

$border-light: #D1D5DA;
$border-dark: #535557;

$header-light: #F6F8FA;
$header-dark: #303030;
$header-hover-light: #e1e3e5;
$header-hover-dark: #202020;

$input-light: #e4e4e4;
$input-dark: #505050;

$input-disabled-light: #b1b1b1;
$input-disabled-dark: #828282;
$input-disabled-text-light: #676767;
$input-disabled-text-dark: #353535;

$padding-input: 3px;

$themes: (
        default:(
                background:$background-light
        ),
        dark:(
                background:$background-dark
        )
);

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

body {
  font-family: sans-serif;
  background: $background-light;
  color: $text-color-normal;
  @include dark-mode {
    background: $background-dark;
    color: $text-color-light;
  }
}

.content {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto;
}

.sidebar {
  float: left;
}

#socialNetwork {
  float: left;
}

.group-container {
  background: $background-light;
  border: 1px solid $border-light;
  @include dark-mode {
    background: $background-dark;
    border-color: $border-dark;
  }
  border-radius: 3px;
  margin-bottom: 3px;

  .group-title {
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    padding-left: $padding-input*2;
    background: $header-light;
    border-bottom: 1px solid $border-light;
    @include dark-mode {
      background: $header-dark;
      border-bottom: 1px solid $border-dark;
    }
    cursor: pointer;

    &:hover {
      background: $header-hover-light;
      @include dark-mode {
        background: $header-hover-dark;
      }
    }
  }

  .rows {
    display: grid;
    grid-template-rows: auto;
    padding: 0 0 8px 0;
    user-select: none;
  }
}

.paramContainer {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  padding: 5px 0;

  &:hover {
    background: $background-light-hover;
    @include dark-mode {
      background: $background-dark-hover;
    }
  }

  .dd-wrapper {
    width: auto;
  }

  .cell {
    padding: 0 4px;
  }

  .dd-wrapper > .dd-list {
    position: absolute;
    width: 160px;
  }

  .dd-header {
    background: $input-light;
    color: $text-color-normal;
    @include dark-mode {
      background: $input-dark;
      color: $text-color-light;
    }
    border-radius: 3px;
    padding: $padding-input 2*$padding-input;
    text-transform: capitalize;
    cursor: pointer;

    svg {
      float: right;
    }

    .dd-header-title {
      width: auto;
      display: inline;
    }
  }

  .input {
    background: $input-light;
    @include dark-mode {
      background: $input-dark;
      color: $text-color-light;
    }
  }

  .dd-list {
    padding: 0;
    margin: 0;
    background: $header-light;
    border: 1px solid $border-light;
    @include dark-mode {
      background: $header-dark;
      color: $text-color-light;
      border-color: $border-dark;
    }
    z-index: 20;


    li {
      display: block;
      text-transform: capitalize;
      padding: $padding-input $padding-input $padding-input 2*$padding-input;
      cursor: pointer;

      &:hover {
        background: $header-hover-light;
        @include dark-mode {
          background: $header-hover-dark;
          color: $text-color-light;
        }
      }
    }

    .selected {
      background: $main-color;
      color: $text-color-normal;
      border-left: 3px solid $main-color-dark;
      padding-left: 3px;

      &:hover {
        background: $header-hover-light;
        @include dark-mode {
          background: $header-hover-dark;
          color: $text-color-light;
        }
      }
    }
  }

  &.disabled {
    .dd-header {
      background: $input-disabled-light;
      color: $input-disabled-text-light;
      @include dark-mode {
        background: $input-disabled-dark;
        color: $input-disabled-text-dark;
      }
    }

    .nameContainer {
      color: $input-disabled-text-light;
      @include dark-mode {
        color: $input-disabled-text-light;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.bio-container {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background: $background-light;
  border: 1px solid $border-light;
  @include dark-mode {
    background: $background-dark;
    border-color: $border-dark;
  }
  width: 20%;
  margin: 10px;
  height: auto;
}

.horizontal-slider {
  height: 24px;
  border-radius: 3px;
  line-height: 24px;
  text-align: center;

  &.disabled {

    @include dark-mode {

    }

    .slider-track {
      background: $input-disabled-light;
      @include dark-mode {
        background: $input-disabled-dark;
      }
    }

    .slider-thumb {
      background: $input-disabled-dark;
      color: $input-disabled-text-dark;
      @include dark-mode {
        color: $input-disabled-text-light;
        background: $input-disabled-light;
      }
    }
  }
}

.slider-track {
  background: $input-light;
  @include dark-mode {
    background: $input-dark;
  }
  height: 100%;
  border-radius: 3px;
}

.slider-thumb {
  background: $main-color;
  color: $text-color-normal;
  box-sizing: border-box;
  font-weight: 600;
  height: 100%;
  width: 32px;
  border-radius: 5px;
}