.app {
    width: 100%;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    height: 100%;
}

.sidebar {
    float: left;
}

#socialNetwork {
    float: left;
    border: 1px solid lightgray;
}

label {
    display: block;
    width: 100%;
    margin: 5px 0;
}