<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Network Maker</title>
    <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
    <meta content="Network maker" name="apple-mobile-web-app-title">
    <meta name="description" content="Free tool to generate complex and random social relationship graphs.">
    <meta name="google" content="notranslate">
    <link rel="apple-touch-icon" sizes="57x57" href="./icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./icon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#C70039">
    <meta name="msapplication-TileImage" content="./icon/ms-icon-144x144.png">
    <meta property="og:title" content="Network Maker">
    <meta property="og:description" content="Free tool to generate complex and random social relationship graphs.">
    <meta property="og:locale" content="en_US">
</head>
<body>
<div id="root"></div>

<!-- Dependencies -->
<% if (webpackConfig.mode == 'production') { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.production.min.js"
            integrity="sha256-3vo65ZXn5pfsCfGM5H55X+SmwJHBlyNHPwRmWAPgJnM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.production.min.js"
            integrity="sha256-qVsF1ftL3vUq8RFOLwPnKimXOLo72xguDliIxeffHRc=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<% } else { %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.6/umd/react.development.js"
            integrity="sha256-9H05eCUa5x4G28dytYBwoAXkR3XgPE3sCogyXhrINwo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js"
            integrity="sha256-I/ClrYyzlYEQkMUjqr7G3m/83znlycDCeI2xuBZsQx0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
<% } %>
</body>
</html>